# ====================================================================
# ARCHIVOS REPRODUCIBLES / ENTRADAS PESADAS (DATASETS DE IMÁGENES)
# ====================================================================
Base/
Fresas/
Fresas2/
Fresas4/
Fresas5/
Fresas6/

# ====================================================================
# MODELOS Y ARCHIVOS BINARIOS DE IA (YOLO)
# ====================================================================
yolov8/
*.pt
*.onnx
runs/

# ====================================================================
# ARCHIVOS COMPRIMIDOS Y RESPALDOS LOCALES
# ====================================================================
*.zip
*.rar

# ====================================================================
# CONFIGURACIONES DE ENTORNO Y SISTEMA
# ====================================================================
__pycache__/
.venv/
.idea/
.vscode/
.DS_Store